@import "tailwindcss";
@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */


body {
    font-family: "Poppins", sans-serif;
  }
  
  html.dark, body.dark {
    background-color: black; 
    color: white;
  } 